{:paths ["src"]
 :deps  {cli-matic/cli-matic                 {:mvn/version "0.5.4"}
         camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
         org.babashka/spec.alpha             {:git/url "https://github.com/babashka/spec.alpha"
                                              :git/sha "1a841c4cc1d4f6dab7505a98ed2d532dd9d56b78"}}
 :tasks {test (load-file "run_tests.clj")}}
