;   This file is part of Wendy.
;
;   Wendy is free software: you can redistribute it and/or modify
;   it under the terms of the GNU General Public License as published by
;   the Free Software Foundation, either version 3 of the License, or
;   (at your option) any later version.
;
;   Wendy is distributed in the hope that it will be useful,
;   but WITHOUT ANY WARRANTY; without even the implied warranty of
;   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
;   GNU General Public License for more details.
;
;   You should have received a copy of the GNU General Public License
;   along with Wendy. If not, see <http://www.gnu.org/licenses/>.

{:deps    {org.clojure/clojure                 {:mvn/version "1.10.2-rc1"}
           java-http-clj/java-http-clj         {:mvn/version "0.4.1"}
           metosin/jsonista                    {:mvn/version "0.3.0"}
           clj-commons/clj-yaml                {:mvn/version "0.7.2"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
           cli-matic/cli-matic                 {:git/url "https://github.com/TimoKramer/cli-matic.git"
                                                :sha     "3b9c143b2c1a38a8a8c34713901834b5d359bae7"}}
 :paths   ["src" "resources"]
 :aliases {:native-image {:main-opts  ["-m clj.native-image wendy.main"
                                       "--initialize-at-build-time"
                                       "--report-unsupported-elements-at-runtime"
                                       "--enable-url-protocols=http"
                                       "--enable-url-protocols=https"
                                       "--allow-incomplete-classpath"
                                       "-H:Name=wendy"
                                       "-H:Path=target"]
                          :jvm-opts   ["-Dclojure.compiler.direct-linking=true"]
                          :extra-deps {clj.native-image/clj.native-image
                                       {:git/url "https://github.com/taylorwood/clj.native-image.git"
                                        :sha     "f3e40672d5c543b80a2019c1f07b2d3fe785962c"}}}
           :test         {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.732"}}
                          :main-opts  ["-m" "kaocha.runner"]}
           :repl         {:extra-deps {cider/cider-nrepl           {:mvn/version "0.25.5"}
                                       nrepl/nrepl                 {:mvn/version "0.8.3"}
                                       org.clojure/tools.namespace {:mvn/version "1.1.0"}}
                          :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
