;   This file is part of Wendy.
;
;   Wendy is free software: you can redistribute it and/or modify
;   it under the terms of the GNU General Public License as published by
;   the Free Software Foundation, either version 3 of the License, or
;   (at your option) any later version.
;
;   Wendy is distributed in the hope that it will be useful,
;   but WITHOUT ANY WARRANTY; without even the implied warranty of
;   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
;   GNU General Public License for more details.
;
;   You should have received a copy of the GNU General Public License
;   along with Wendy. If not, see <http://www.gnu.org/licenses/>.

{:deps    {org.clojure/clojure                   {:mvn/version "1.10.1"}
           org.martinklepsch/clj-http-lite       {:mvn/version "0.4.1"}
           cheshire                              {:mvn/version "5.8.1"}
           net.sourceforge.argparse4j/argparse4j {:mvn/version "0.8.1"}
           com.electronwill.night-config/toml    {:mvn/version "3.6.0"}
           com.electronwill.night-config/json    {:mvn/version "3.6.0"}}
 :paths   ["src" "resources"]
 :aliases {:native-image
           {:main-opts  ["-m clj.native-image wendy.main"
                         "--initialize-at-build-time"
                         "--report-unsupported-elements-at-runtime"
                         "--enable-url-protocols=http"
                         "-H:Name=wendy"
                         "-H:Path=target"
                         "-H:IncludeResourceBundles=net.sourceforge.argparse4j.internal.ArgumentParserImpl"]
            :jvm-opts   ["-Dclojure.compiler.direct-linking=true"]
            :extra-deps {clj.native-image
                         {:git/url "https://github.com/taylorwood/clj.native-image.git"
                          :sha     "567176ddb0f7507c8b0969e0a10f60f848afaf7d"}}}
           :ancient
           {:extra-deps {olical/depot {:mvn/version "1.8.2"}}
            :main-opts  ["-m" "depot.outdated.main"]}
           :test
           {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-418"}}}}}
